nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
    grid-area: header;
}

h1#brand-name {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 5px 7px;
    border-color: aqua;
    border-radius: 20px;
    padding: 10px;
    color: aqua;
    transition: 0.3s ease;
    overflow: hidden;
    height: 50px;
}

h1#brand-name:hover {
    color: rgb(20, 20, 20);
    background-color: aqua;
    transform: translateY(-15px);
    box-shadow: 5px 10px 5px rgb(0, 116, 116);
}

#navbar-list {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar-item {
    text-decoration: none;
    color: aqua;
    border-style: solid;
    border-color: aqua;
    padding: 10px;
    border-radius: 25px;
    transition: 0.3s ease;
}

.navbar-item:hover {
    background-color: aqua;
    color: rgb(20, 20, 20);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
    transform: translateY(-5px);
}